version: "3.9"

services:
  web:
    build: .
    entrypoint:
      /app/entrypoint.sh
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
    environment:
        - PYTHONPATH=/app/src
        - ENV=prod
    profiles: ['prod']
